@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

ul {padding-inline-start: 0}
:root {
    --main-blue:#1995bb;
    --hover-blue: #1daad4;
    --main-dark: #111;
    --highlight-grey: #1E1E1E;
    --btc-orange: #FF9900;
}

* {
    box-sizing: border-box;
}
body {
    background: var(--main-dark);
    color: white;
    font-family: "Poppins", sans-serif;
}
a:link{
    color: var(--main-blue);
    text-decoration: none;
}
a:visited{
    color: var(--main-blue);
}
a:hover{
    color: var(--hover-blue);
}
a:active{
    color: var(--main-blue);
}

.flex-around {
    display: flex;
    justify-content: space-between;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.flex-evenly{
    display:flex;
    justify-content: space-evenly;
}


/*  Header */

#logo {
    height: 30px;
    width: 30px;
    margin-top: 3px;
    margin-right: 5px;
}

.header-logo {
    display: flex;
    flex-flow: row nowrap;
    margin: 5px 0;
}

.header-logo a {
    text-decoration: none;
    color: var(--main-blue);
   
}
.header-logo a:hover{
    color: var(--hover-blue);
}

.header-logo h1{
    margin: 0;
}

#search {
    width: 90%;
    height: 35px;
    display: block;
}

.searchform{
    width: 75%;
}

.search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

form.searchform input[type=text] {
    float: left;
    padding: 0;
    margin: 0;
    border-width: 1px 0px 1px 1px;
    border-color: #555555;
    border-style: solid;
}

form.searchform button {
    width:10%;
    border-radius: 0;
    border-left: 0;
    margin: 0;
    height: 35px;
    float: left;
    border-width: 1px 1px 1px 0px;
    border-color: #555555;
    border-style: solid;
}

form.searchform::after {
    content: "";
    clear: both;
    display: table;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-links {
    text-align: right;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

.header-links li {
    padding: 0 10px;
}

/*  Main Styles */

.container{
    display: flex;
    justify-content: space-around;
}

.wrap {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 1rem;
}

.hide {
    display: none;
}

.error {
    color:orangered;
}

.blockrow {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

.blocks {
    margin-top: 25px;
    width: 75%;
}

.blocks a:nth-child(odd) .blockrow {
    background: var(--highlight-grey);
}

.blockrow-title{
    background: var(--main-blue);
}

.block span {
    display: inline-block;
}
.blockrow-height{
    width:15%;
    text-align: left;
}
.blockrow-time{
    width:40%;
    text-align: center;
}
.blockrow-transactions{
    width:15%;
    text-align: center;
}
.blockrow-size{
    width:15%;
    text-align: center;
}
.blockrow-weight{
    width:15%;
    text-align: right;
}

.block-details{
    margin-top:25px;
    display: flex;
    width: 75%;
    justify-content: space-between;
    font-size: 14px;
}

.block-detail-labels{
    text-align: left;
    width: 40%;
}
.block-detail-labels div, .block-detail-data div {
    margin: 5px 0;
}

.block-detail-data{
    text-align: left;
    width: 75%;
}
.load-more{
    width: 75%;
    margin: 15px 0;
}

.transaction-list{
    margin-top:25px;
    width: 75%;
    word-break: break-all;
}

.txrow{
    font-size:13px;
    padding: 5px 0px;
    word-break: break-all;
}
.txrow:nth-child(odd){
    background:var(--highlight-grey);
}

.txrow-labels{
    text-align: left;
    width: 15%;
}
.txrow-data{
    text-align: left;
    width: 85%;
}

.txrow-property, .tx-row-value{
    display: inline-block;
}
.txrow-property {
    width:20%
}
.txrow-value {
    width:80%;
    text-align: left;
}

.txrow-toggle{
    margin: auto;
    text-align: center;
}

.txin-left, .txout-left {
    width:80%;
}
.txin-right, .txout-right {
    width: 20%
}
.txin-left {
    color: var(--btc-orange);
    display: inline-block;
}
.txin-right {
    color: var(--btc-orange);
    display: inline-block;
}

.txout-left {
    color:seagreen;
    display: inline-block;
}
.txout-right {
    color:seagreen;
    display: inline-block;
}
.txin-left a, .txin-right a{
    color: peru;
}
.txout-left a, .txout-right a{
    color: seagreen;
}
.transaction-list {
    font-size: 12px;
    
}
.transaction-list-spaced div{
    margin: 5px 0;
}

.transaction-details{
    width: 75%;
}

.burger {
    display: none;

}

.burgerDiv{
    width: 2rem;
    height: 0.2rem;
    background-color: var(--main-blue);
    margin: 0.25rem;
    border-radius: 5px;
}

button {
    background: var(--highlight-grey);
    border-radius: 5px;
    color: var(--main-blue);
    border: 1px solid;
    border-color: #666 #333 #333 #666;
    margin-top: 5px;
}
button:hover {
    background: var(--main-dark);
    color: var(--hover-blue);
}

.error{
    color: rgb(219, 219, 35);
    margin: 0 15px;
}


/* Media Queries */

@media (max-width: 1024px) {
    body, .txrow {
        font-size: 12px;
    }
    .searchform, .blocks,  .block-details, .transaction-list, .transaction-details, .load-more {
      width: 80%;
    }
    #logo{
        margin-top: -1px;
    }
}

@media (max-width: 768px) {
    .searchform, .blocks, .block-details, .transaction-list, .transaction-details, .load-more{
        width: 100%;
    }
    body {
        font-size:11px;
    }

    .block-details {
        font-size: 12px
    }

    .txrow {
        font-size: 10px;
    }
    .header-flex {
        flex-flow: column nowrap;
    }
    .header-links {
        text-align: right;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        position: relative;
        font-size: 14px;
    }

    .burger {
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 15px;
        justify-content: space-around;
        flex-flow: column nowrap;
    }


}

@media (max-width: 520px) {
    .txrow-property, .txrow-value {
        display: inline-block;
    }
    .txin-left, .txin-right, .txout-left, .txout-right {
        display: block;
        width:75%;
    }
    .txin-right span:nth-child(2), .txout-right span:nth-child(2) {
        padding-left:5px;
    }
    .transaction-list-spaced div{
        margin: 10px 0;
    }
    
}

@media (max-width: 480px) {
    .transaction-list {
        font-size: 9px;
    }
    
}
